{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h3 class="display-3">Hello, {{ session.username }}!</h3>
                <p class="lead">Welcome on your dashboard, here you'll be able to manage your site and its content. On this admin-only dashboard, you can create articles, categories, general configuration and your personal settings.</p>
                <hr class="my-4">
                <p>To begin easily, here is some useful links that you can find at any time on the left side menu.</p>
                <p class="lead">
                    <a href="{{ paths.admin }}/create/article" class="btn btn-app">
                        <i class="fa fa-plus"></i> Article
                    </a>

                    <a href="{{ paths.admin }}/create/category" class="btn btn-app">
                        <i class="fa fa-plus"></i> Category
                    </a>

                    <a href="{{ paths.admin }}/configuration" class="btn btn-app">
                        <i class="fa fa-cog"></i> Configuration
                    </a>

                    <a href="{{ paths.admin }}/settings" class="btn btn-app">
                        <i class="fa fa-wrench"></i> Settings
                    </a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}