{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Paramètres généraux</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="{{ paths.admin }}/settings/post/general" method="post" enctype="multipart/form-data">
              <div class="box-body">
                <div class="form-group">
                  <label for="username">Nom d'utilisateur</label>
                  <input type="text" name="username" class="form-control" id="username" placeholder="Entrez un nom d'utilisateur" value="{% if POST.username %}{{ POST.username }}{% else %}{{ session.username }}{% endif %}">
                </div>
                <div class="form-group">
                  <label for="avatar">Avatar</label>
                  <input type="file" name="avatar" id="avatar" class="form-control">

                  <p class="help-block">Choisissez une image au format .jpg ou .png d'une taille maximale de 10Mo.</p>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" name="changeUsername" class="btn btn-primary">Enregistrer</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
          
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Modifier l'adresse email</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="{{ paths.admin }}/settings/post/email">
              <div class="box-body">
                <div class="form-group">
                  <label for="actualemail">Adresse email actuelle</label>
                  <input type="email" name="actualemail" class="form-control" id="actualemail" placeholder="Votre adresse email" value="{% if POST.newemail %}{{ POST.newemail }}{% else %}{{ session.email }}{% endif %}" disabled="">
                </div>
                <div class="form-group">
                  <label for="newemail">Nouvelle adresse email</label>
                  <input type="email" name="newemail" class="form-control" id="newemail" placeholder="Votre adresse email" value="{% if POST.newemail %}{{ POST.newemail }}{% endif %}">
                </div>
                <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" name="changeEmail" class="btn btn-primary">Enregistrer</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
          
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Modifier le mot de passe</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="{{ paths.admin }}/settings/post/password">
              <div class="box-body">
                <div class="form-group">
                  <label for="actualpassword">Mot de passe actuel</label>
                  <input type="password" name="actualpassword" class="form-control" id="actualpassword" placeholder="Entrez votre mot de passe actuel">
                </div>
                <div class="form-group">
                  <label for="newpassword">Nouveau mot de passe</label>
                  <input type="password" name="newpassword" class="form-control" id="newpassword" placeholder="Entrez votre nouveau mot de passe">
                </div>
                <div class="form-group">
                  <label for="repeatpassword">Répéter nouveau mot de passe</label>
                  <input type="password" name="repeatpassword" class="form-control" id="repeatpassword" placeholder="Entrez à nouveau le mot de passe">
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" name="changePassword" class="btn btn-primary">Enregistrer</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock %}