<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.name }} | {{ title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ paths.themes }}/admin-theme/assets/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ paths.themes }}/admin-theme/assets/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ paths.themes }}/admin-theme/assets/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ paths.themes }}/admin-theme/assets/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ paths.themes }}/admin-theme/assets/css/blue.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="">Administration</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Please login</p>
    
    <p class="login-box-msg {{ advert.type }}" style="color:#d83f3f;">{{ advert.message }}</p>

    <form action="#" method="post">
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="Identifiants">
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Mot de passe">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Log in</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

<!--    <a href="#">I forgot my password</a><br>-->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{{ paths.themes }}/admin-theme/assets/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ paths.themes }}/admin-theme/assets/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="{{ paths.themes }}/admin-theme/assets/js/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>