{% extends "layout.html.twig" %}
{% set page = 'home' %}

{% block body %}
	<div class="col-sm-8 blog-main">
          
          {% for article in articles|slice(0, 5) %}
              <div class="blog-post">
                  <a href="{{ paths.root }}article/{{ article.slug }}"><img src="{{ paths.uploads }}/{{ article.hash_id }}.jpg" width="100%" alt=""></a>
                <h2 class="blog-post-title"><a href="{{ paths.root }}article/{{ article.slug }}">{{ article.title }}</a></h2>
                <p class="blog-post-meta">On {{ article.date|date("d/m/Y") }} at {{ article.date|date("h:m") }} by <a href="{{ paths.user }}/{{ article.author }}">{{ article.author }}</a> in <a href="{{ paths.category }}/{{ article.category }}">{{ article.category }}</a></p>

                {{ article.content|slice(0, 400) }}{% if article.content|length > 400 %}... <a href="{{ paths.root }}article/{{ article.hash_id }}">Learn more</a>{% endif %}
              </div>
          {% endfor %}
          
          {% if articles|length > 5 %}
            <nav class="blog-pagination text-center">
                <a class="btn btn-outline-primary btn-show-more" href="#">Show more</a>
            </nav>
        {% endif %}

        </div>
{% endblock %}