<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}{{ siteName }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    {% endblock %}

    <!-- Custom styles for this template -->
    <link href="{{ asset('themes/default/css/signin.css') }}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" action="">
    <img class="mb-4" src="{{ asset('themes/default/images/icon.png') }}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">{{ siteName }}</h1>
    <p>Please sign in to continue</p>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>
