{% extends "layout.html.twig" %}
{% set page = 'home' %}

{% block body %}
	<div class="col-sm-8 blog-main">
          
          {% for article in articles|slice(0, 4) %}
              <div class="blog-post">
                <img src="{{ paths.uploads }}/{{ article.image_url }}" alt="">
                <h2 class="blog-post-title">{{ article.title }}</h2>
                <p class="blog-post-meta">On {{ article.date|date("d/m/Y") }} at {{ article.date|date("h:m") }} by <a href="{{ paths.user }}/{{ article.author_id }}">{{ article.author_id }}</a> in <a href="{{ paths.category }}/{{ article.category_id }}">{{ article.category_id }}</a></p>

                {{ article.content }}
              </div>
          {% endfor %}
          
          {% if articles|length > 1 %}
            <nav class="blog-pagination text-center">
                <a class="btn btn-outline-primary btn-show-more" href="#">Show more</a>
            </nav>
        {% endif %}

        </div>
{% endblock %}