{% extends "layout.html.twig" %}
{% set page = 'home' %}

{% block body %}
	<div class="col-sm-8 blog-main">
          
          {% for article in articles %}
              <div class="blog-post">
                <h2 class="blog-post-title">{{ article.title }}</h2>
                <p class="blog-post-meta">On {{ article.date|date("m/d/Y") }} at {{ article.date|date("h:s") }} by <a href="{{ paths.user }}/{{ article.author }}">{{ article.author }}</a></p>

                {{ article.content }}
              </div>
          {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div>
{% endblock %}