{% extends "layout.html.twig" %}
{% set page = 'search' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <p>{{ articles|length }} result(s) found for <strong>{{ request }}</strong></p>

                {% for article in articles %}
                    <div class="blog-post">
                        <a href="{{ paths.article }}/{{ article.slug }}"><img src="{{ paths.uploads }}/{{ article.image_url }}" alt=""></a>
                        <h2 class="blog-post-title"><a href="{{ paths.article }}/{{ article.slug }}">{{ article.title }}</a></h2>
                        <p class="blog-post-meta">On {{ article.publishDate|date("F jS \\a\\t g:i a") }} by <a href="{{ paths.user }}/{{ article.author }}">{{ article.author }}</a></p>

                        <p>{{ article.content|slice(0, 140) }}{% if article.content|length >= 140 %}...{% endif %}</p>
                    </div><!-- /.blog-post -->
                {% endfor %}

                {% if articles|length > 10 %}
                <nav class="blog-pagination text-center">
                    <a class="btn btn-outline-primary" href="#">Load more</a>
                </nav>
                {% endif %}

            </div><!-- /.blog-main -->

            {% include 'sidebar.html.twig' %}

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}