{% extends "layout.html.twig" %}
{% set page = 'single_article' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                    <div class="blog-post">
                        <img src="{{ paths.uploads }}/{{ article.image_url }}" alt="">
                        <h2 class="blog-post-title">{{ article.title }}</h2>
                        <p class="blog-post-meta">On {{ article.publishDate|date("F jS \\a\\t g:i a") }} by <a href="{{ paths.user }}/{{ article.author.username }}">{{ article.author.username }}</a></p>

                        <p id="article-content">{{ article.content|nl2br }}</p>
                    </div><!-- /.blog-post -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <img src="{{ paths.uploads }}/avatars/{{ article.author.hash_id }}.jpg" width="15%" style="margin-right:30px;" class="float-left rounded-circle" alt="">
                                    </div>

                                    <div>
                                        <h5 class="card-title"><a href="{{ paths.user }}/{{ article.author.username }}">{{ article.author.username }}</a></h5>
                                        <p class="card-text">{{ article.author.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div><!-- /.blog-main -->

            {% include 'sidebar.html.twig' %}

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}