{% extends "layout.html.twig" %}
{% set page = 'single_article' %}

{% block body %}
    <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <img src="{{ paths.uploads }}/{{ article.image_url }}" alt="">
                <h2 class="blog-post-title">{{ article.title }}</h2>
                <p class="blog-post-meta">On {{ article.date|date("d/m/Y") }} at {{ article.date|date("h:m") }} by <a href="{{ paths.user }}/{{ article.author }}">{{ article.author }}</a> in <a href="{{ paths.category }}/{{ article.category }}">{{ article.category }}</a></p>

                {{ article.content }}
            </div>
    </div>
{% endblock %}